.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 57px;
  padding: 0 24px;
  border-bottom: solid 1px var(--third-foreground);
  background-color: var(--background);
  font-size: 18px;
  transition: all .1s ease-in-out;
  z-index: 500;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: auto;
}

.header_logo {
  display: block;
  width: 100%;
  height: 100%;
}

.header_left a {
  height: 100%;
  padding: .5em;
  transition: opacity .2s ease-in-out;
}

.header_logo {
  width: 150px;
}

.header_logo img svg {
  color: var(--foreground);
}

.header_left a:hover {
  opacity: .5;
}

.header_left a:first-child:hover {
  opacity: 1;
}

.theme_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--third-foreground);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
}

.theme_button span[data-theme='hidden'] {
  display: none;
}

.theme_button span[data-theme='show'] {
  display: block;
}

@media only screen and (max-width: 1080px) {

}

/* mobile */
@media only screen and (max-width: 767px) {
  .header {
    height: 50px;
    font-size: 14px;
  }

  .header_left {
    gap: 10px;
  }

  .header_logo {
    width: 100px;
  }
}
