.posts {
  width: 728px;
  max-width: 728px;
  flex: 1;
}

.posts_header {
  font-size: 42px;
  margin: 52px 24px 48px;
}

.hr {
  border-top: 1px solid var(--third-foreground);
  width: 100%;
}

.post_list {
  margin: 40px 0;
  list-style: none;
}

.post_list li {
  position: relative;
  border-bottom: 1px solid var(--third-foreground);
  padding-top: 24px;
  margin: 0 24px;
}

.post_list li:first-child {
  padding-top: 0px;
}

.post_date {
  font-size: 14px;
  color: #6b6b6b;
}

.post_box {
  margin-top: 12px;
}

.post_header {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.post_desc {
  font-size: 16px;
  /* NOTE: line-clamp */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_info_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 32px 0;
  font-size: 13px;
}

.post_info_box span {
  padding: 3px 8px;
  border-radius: 12px;
  background-color: var(--card-background);
}

.post_bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 15px;
  color: #1A8917;
  /* color: #1f35dd; */
}

.post_bookmark svg {
  display: block;
  width: 100%;
  height: 100%;
}

.post_bookmark:before {
  position: absolute;
  bottom: -2px;
  right: -2px;
  content: '';
  display: block;
  width: 10px;
  height: 20px;
  background-color: #1a89178f;
  filter: blur(6px);
  z-index: -1;
}

/* 
---------------
  tablet
---------------
*/
@media only screen and (max-width: 1080px) {
  .posts {
    width: 100%;
  }
}

/* 
---------------
  mobile 
---------------
*/
@media only screen and (max-width: 767px) {
  .post_header {
    font-size: 1em;
    font-weight: 600;
  }
}