.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  /* background: var(--secondary-glow); */
  width: 480px;
  height: 360px;
}

.center::after {
  background: var(--tile-border);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  position: absolute;
  /* filter: blur(45px); */
}
