.syntax_code_wrapper {
  border-radius: 5px;
  margin-top: 1em;
  overflow: hidden;
  font-size: 14px;
}

.syntax_code_wrapper code {
  font-family: var(--font-mono);
  font-size: .875em;
}

.small_code {
  border-radius: 3px;
  /* background-color: #eef0f1; */
  background-color: #e9ecef;
  box-sizing: border-box;
  padding: 0.2em 0.4em;
  font-size: 85%;
  color: #212529;
}